/**
!/.gitignore
!/.gitattributes

# ----------------------------------------------------------------
# ROOT
# ----------------------------------------------------------------

!/README.md
!/LICENCE
!/justfile
# for git workflows
!/.github
!/.github/workflows
!/.github/workflows/*.yaml

# ----------------------------------------------------------------
# PROJECT
# ----------------------------------------------------------------

!/templates
!/templates/template*

!/docs
!/docs/**/
!/docs/**/*.md

!/models
!/models/*.yaml

!/src
!/src/**/
!/src/**/*.zig

!/tests
!/tests/**/
!/tests/**/*.zig

!/dist
!/dist/VERSION

# ----------------------------------------------------------------
# FORCE REMOVE
# ----------------------------------------------------------------

**/*.tmp
**/.DS_Store
**/.vscode
**/__archive__*
**/__pycache__*
**/*.pdb

# ----------------------------------------------------------------
# FORCE RETAIN
# ----------------------------------------------------------------

!**/.gitkeep
